* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: rgb(109, 118, 136);
    min-height: 100%;
  }
  
  /* Page Layout */
  .columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .wrapper {
    display: flex;
  }
  .container {
    max-width: 960px;
    margin-top: 25px;
  }
  .page_item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 4px;
    background-color: #e7eaeb;
    height: fit-content;
    margin: 20px;
  }
  .form_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
  }
  .map_item {
    background-color: #d6dde6;
    border: 1px solid #D6D9DC;
    border-radius: 1px;
    width: 640px;
    padding: 30px;
    margin: 20px;
  }
  #map { height: 360px; }
